/* Buy.css */
.buy-buy-container{
  width: 100%;
  
  border: 1px solid #c34d4d;
  margin-top: -50px;
  background-image: url('../../public/assets/Love\ Brews\ Here\ \(1\).jpg');
  background-position: top -200%;
  background-size: cover;

}
.buy-container {
    width: 300px;
   margin-left: 60px;
    padding: 20px;
    /* border: 1px solid #c34d4d; */
    border-radius: 5px;
    margin-top: 30px;
  }
  
  .buy-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .buy-form input {
    width: 102%;
    padding: 8px;
    outline: none;
    /* border-top: 0px; */
    /* border-bottom: 10px; */
    /* border: 0px 10px 0px 0px; */
    margin-bottom: 10px;
    border-top: none;
    border-radius: 15px;
    border-right: none;
    border-left: none;
    border-color: black;
    /* border:1px solid #000000; */
    /* border-radius: 3px; */
  }
  
  .buy-form button {
    background-color: burlywood;
    color: white;
   
    border-radius: 15px;
    padding: 10px 19px;
  
    cursor: pointer;
    margin-top: 10px;
  }
  
  .buy-form button:hover {
    background-color: green;
  }
.inputbuy{
    margin-right: 40px;
}  

.lovmatch{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color:burlywood ;
}