/* Memos.css */

.memo-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    background-color: #ECE4CF;
    /* margin-bottom: 10px; */
  }
  
  .memo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 13px;
  }
  
  .memo-table td {
    border: 1px solid #9e9e9e;
    padding: 8px;
  }
  
  .memo-table th {
    background-color: #f2f2f2;
    border: 1px solid #e7c5c5;
    padding: 8px;
  }
  .all-transactions {
    /* font-size: 18px; */
    font-weight: bold;
    color: #ff0000;
    margin-top: 20px;
  }